<app-user-layout>

  <div class="relative w-full my-5">

    <a [routerLink]="['/feed']" class="md:absolute md:left-0 md:top-0">
      <img src="/assets/arrow.svg" alt="" class="w-10 ml-4 mb-4 md:mb:0 cursor-pointer">
    </a>
    <h1 class="font-bold w-full text-center text-2xl">Créer un nouvel article</h1>

  </div>

  <form [formGroup]="form" class="form-large space-y-5" (ngSubmit)="onSubmitCreate()">

    <div class="form-group">
      <select id="themeId"
        [ngClass]="{ 'text-gray-400': !form.get('themeId')?.value, 'text-black': form.get('themeId')?.value }"
        class="appearance-none form-control" formControlName="themeId" placeholder="Sélectionner un thème">
        <option value="" disabled selected>Sélectionner un thème</option>
        @for (theme of themes(); track theme.id) {
        <option [value]="theme.id">{{theme.name}}</option>
        }
      </select>
      @let tide = form.get('themeId');
      @if (tide?.invalid && (tide?.touched || tide?.dirty)) {
      <div class="validation-message">Veuillez saisir un thème
      </div>
      }
    </div>

    <div class="form-group">
      <input type="text" id="title" class="form-control" formControlName="title" maxlength="100" placeholder="Titre de l'article">
      @let titlee = form.get('title');
      @if (titlee?.invalid && (titlee?.touched || titlee?.dirty)) {
      <div class="validation-message">Veuillez saisir un titre (100 caractères maximum)</div>
      }
    </div>

    <div class="form-group">
      <textarea class="form-control" formControlName="content" placeholder="Contenu de l'article" rows="6"></textarea>
      @let contente = form.get('content');
      @if (contente?.invalid && (contente?.touched || contente?.dirty)) {
      <div class="validation-message">Veuillez saisir le contenu de l’article</div>
      }
    </div>

    @if (errorMessage) {
    <div class="bg-red-400 rounded-xs text-white p-2 text-center font-bold">
      {{errorMessage}}
    </div>
    }

    <div class="flex justify-center py-5">
      <button type="submit" class="btn-plain" [disabled]="form.invalid">Créer</button>
    </div>
  </form>



</app-user-layout>
