@config "../../tailwind.config.js";
@import "tailwindcss";

* {
  font-family: "Inter", sans-serif;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.btn-plain {
  @apply bg-purple rounded-xs px-4 py-2 text-white text-base font-bold cursor-pointer;
}

.btn-plain:disabled {
  @apply bg-grey;
}

.btn-outline {
  @apply rounded-xs px-5 py-1 text-black border text-base md:font-bold cursor-pointer;
}

form {
  @apply flex-col items-center max-w-full w-10/12 md:w-3xs;
}

.form-large {
  @apply md:w-2xs;
}

.form-large .form-control {
  @apply border-purple;
}

.form-group {
  @apply flex flex-col;
}

.form-control {
  @apply rounded-xs border border-black px-5 py-2 placeholder-gray-400;
}


.form-control-tight {
  @apply rounded-xs border border-black md:px-5 py-2 w-full placeholder-gray-400;
}

input.ng-invalid.ng-touched,
select.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched {
  @apply border-red-500 ring-1 ring-red-500;
}

.validation-message {
  @apply text-red-500 text-xs;
}

.validation-message>ul {
  @apply list-disc pl-4;
}
